<h1>
    Users
</h1>

<table>
    <tr>
        <th>Name</th>
        <th>Age</th>
        <th>Phone</th>
        <th>Email</th>
    </tr>
    {{#each data}}
    <tr>
        <td>{{this.name}}</td>
        <td>{{this.age}}</td>
        <td>{{this.phone}}</td>
        <td>{{this.email}}</td>
    </tr>
    {{/each}}
</table>